<!DOCTYPE html>
<html lang="en">                            
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
 </head>
<body>
  <div class="row shadow mt-5 p-4"></div>
    <div class="container">
      
        <div class="title">Registration</div>
        <div class="content">
         
          <form action="" method="POST">
            <div class="user-details">
              <div class="input-box">
                <span class="details mt-7s">Full Name</span>
                <input type="text" name="name" id="name" placeholder="Enter your name" required>
              </div>
              <div class="input-box">
                <span class="details mt-7">email</span>
                <input type="email" name="email" id="email" placeholder="Enter your Email" required>
              </div>
              <div class="input-box">
                <span class="details mt-7">Phone Number</span>
                <input type="int" name="phone" id="phone"placeholder="Enter your number" required>
              </div>
              <div class="input-box">
                <span class="details mt-7">Gender</span>
                <input type="text" name="gender" id="gender"placeholder="Enter Gender" required>
              </div>
              <div class="input-box">
                <span class="details mt-7s"> Geographical Location</span>
                <input type="text" name="geographical_location" id="geographical_location" placeholder="Enter your name" required>
              </div>
			  <div class="input-box">
                <span class="details mt-7">Password</span>
                <input id="password"name="password" type="password" class="form-control" required>
      			<label class="form-control-placeholder" for="password">Password</label>
      			
              </div>
            </div>
            <div class="button">
              <input type="submit" value="Register">
            </div>
             <div class="text-center"><a href="{{url_for ('login.login')}}"> Already have an Account? Login</a></div>
            
            </div>
       
          </form>
        </div>
        </div>
         </div>
      </div>
      <script src="{{ url_for('static', filename='js/home.js')}}"></script>
      
</body>
</html>


