<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/nouislider/nouislider.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration/style.css') }}">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="{{ url_for('static', filename='images/banglore.jpg') }}" alt="">
                    <div class="signup-img-content">
                        <h2>Register now </h2>
                        <p>To Find Routes!!</p>
                    </div>
                </div>
                <div class="signup-form">

                    <form method="POST" class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="first_name" class="required">Full name</label>
                                    <input type="text" name="username" id="username" required />
                                </div>
                                <div class="form-input">
                                    <label for="email" class="required">Email</label>
                                    <input type="text" name="email" id="email" required/>
                                </div>
                                <div class="form-input">
                                    <label for="geographical_location" class="required">geographical_location</label>
                                    <input type="text" name="geographical_location" id="geographical_location" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-select">
                                    <div class="form-input">
                                        <label for="phone" class="required">Phone number</label>
                                        <input type="text" name="phone_no" id="phone_no" required />
                                    </div>

                                </div>
                                <div class="form-radio">
                                    <div class="label-flex">
                                        <label for="payment">Gender</label>
                                    </div>
                                    <div class="form-radio-group">
                                        <div class="form-radio-item">
                                            <input type="radio" name="gender" id="male" checked>
                                            <label for="male">Male</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="gender" id="female">
                                            <label for="female">Female</label>
                                            <span class="check"></span>
                                        </div>
                                        <div class="form-radio-item">
                                            <input type="radio" name="gender" id="other">
                                            <label for="other">Other</label>
                                            <span class="check"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-input">
                                    <label for="password" class="required">Password</label>
                                    <input type="password" name="password" id="password" required />
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="form-submit">
                            <input type="submit" value="Register" class="submit" id="submit" name="submit" />
                            <input type="submit" value="Reset" class="submit" id="reset" name="reset" />
                        </div>
                        <br><br>
                        <div class="text-center"><a href="{{url_for ('login.login')}}"> Already have an Account?
                                Login</a></div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/nouislider/nouislider.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/wnumb/wNumb.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-validation/dist/jquery.validate.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery-validation/dist/additional-methods.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/registration/main.js')}}"></script>
</body>

</html>