<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta name="twitter:card" content="summary_large_image">

    <!-- Webpage Title -->
    <title>TravelThrough</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fontawesome-all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/swiper.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/magnific-popup.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">
            
            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Gemdev</a> -->

            <!-- Image Logo -->
             <a class="navbar-brand logo-text page-scroll" href="index.html">TravelThrough</a> 
            
           
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#details">Details <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="{{url_for('login.logout')}}">Logout</a>
                    </li>
                   
                </ul>
                <span class="nav-item social-icons">
                    <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                </span>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <div class="header">
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1 class="h1-large">The New Way To Plan Your Next Trip</h1>
                        <p class="p-large">Create a fully customized day by day
                            itinerary for free!!</p>
                        <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox">Start Planning</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/travel.jpg') }}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header -->


    
    <!-- Details Lightbox -->
    <!-- Lightbox -->
	<div id="details-lightbox" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
			<div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/details-lightbox.jpg') }}" alt="alternative">
                </div> <!-- end of image-container -->
			</div> <!-- end of col -->
			<div class="col-lg-4">
                <h3>Trip Planner</h3>
				<hr>
                    <form action="#" method="POST">
                        <div class="row">
                          <div class="col-md-5 form-group">
                            Full Name
                            <input  type="text" name="destination" id="destination"  class="form-control" placeholder="Enter Destination (Country,Region,or City)">
                           </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 form-group">
                              Start Date
                              <input  type="date" class="form-control"name="s_date" id="s_date" placeholder="Start Date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 form-group">
                              End Date
                              <input  type="date" class="form-control"name="e_date" id="e_date" placeholder="End Date">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 form-group">
                              Number of persons
                              <input  type="text" name="nop" id="nop"  class="form-control" placeholder="Persons count">
                             </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 form-group">
                                Longitude
                                <input type="text" class="form-control" name="long" id="long" disabled>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-5 form-group">
                                Latitude
                                <input type="text" class="form-control" name="lat" id="lat" disabled>
                            </div>
                            </div>
                        </div>
                    </form>
                    
                <a class="btn-solid-reg mfp-close page-scroll" href="">See the Routes</a> 
                <button class="btn-outline-reg mfp-close as-button" type="button">Back</button>
			</div> <!-- end of col -->
		</div> <!-- end of row -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of details lightbox -->


    <!-- Statement -->
    <div id="statement" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                       <h2 class="plan-steps-pane__title c-section__heading h3">Easy to use, easy to browse</h2>
                        
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of statement -->

    <script>
        const long = document.getElementById("long")
        const lat = document.getElementById("lat")
        navigator.geolocation.getCurrentPosition((location)=>{
            console.log(location.coords)
            long.value = location.coords.longitude;
            lat.value = location.coords.latitude;
        })
    </script>

    <!-- Details 1 -->
    <div id="details" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/details-1.svg') }}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2>Research bot that works for you...</h2>
                        <p>Matches your travel preferences..</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Best places & time to visit
                                   </strong></div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><strong>Transportation options</strong> with comfort and ease </div>
                            </li>
                        </ul> 
                     
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 1 -->




    <!-- Details 2 -->
    <div class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xl-5">
                    <div class="text-container">
                        <h2>Simple to use</h2>
                        <p>Travel Through is a software which provide a platform where numerous routes will be displayed in such a order that user can visit all the tourist attraction, including famous places and local undiscovered less known places in specific duration of stay.</p>
                       
                        <a class="btn-solid-reg" href="#your-link">Details</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6 col-xl-7">
                    <div class="image-container">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/details-2.svg') }}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of details 2 -->


    <!-- Features -->
    <div id="features" class="basic-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-box bg-gray">
                        <i class="fas fa-rocket"></i>
                        <h4>Easy Access</h4>
                        <p>You can easily access to the App while deciding the destination and time duration.</p>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-box bg-gray">
                        <i class="fas fa-map-marked-alt"></i>
                        <h4>Unlimited Routes Options</h4>
                        <p>In case if you missed to visit one place or got delayed, This will easily give you the options to visit different place nearby.</p>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-box bg-gray">
                        <i class="fas fa-street-view"></i>
                        <h4>Easy to View</h4>
                        <p>It's very easy to view the routes in the map for the trip we plan. Different loctions will their distances are viewed here.</p>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-box bg-gray">
                        <i class="fas fa-clock"></i>
                        <h4>Timing Facility</h4>
                        <p>Provide appropriate timing facility to visit the place. And will also create the routes for you accordingly.</p>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-box bg-gray">
                        <i class="fas fa-route"></i>
                        <h4>Routes</h4>
                        <p>Different different options of routes will be provided so as to give the freedom to the user to select and visite their desired places. </p>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-box bg-gray">
                        <i class="fas fa-award"></i>
                        <h4>Great results</h4>
                        <p>A lot of users have sent us positive feedback about the Trip and routes facility provided. That means we are on to something good here so we'll keep improving it</p>
                    </div> <!-- end of text-box -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of features -->


    <!-- About -->
    <div id="about" class="basic-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-container">
                        <h2>Award wining framework</h2>
                        <p>Gemdev has been used in thousand of popular web projects. The feedback has been great so we decided to keep working.</p>
                        <p>Naturally we can't please everyone because it's not our objective to fit all styles. Our style is based on speed and performance.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="image-container">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/about.svg') }}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <div class="text-container">
                        <h2>Reasons to download</h2>
                        <ul class="list-unstyled li-space-lg">
                            <li>1. Very easy to download with minimum number of clicks and no registration required</li>
                            <li>2. Large pool of components for any part of the project from sliders to tabbed content</li>
                            <li>3. Simple licensing for any type and any number of projects. Free MIT download</li>
                        </ul>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-5 -->
    <!-- end of about -->


    <!-- Statistics -->
    <div class="counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Counter -->
                    <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="231">1</div>
                            <p class="counter-info">Happy Users</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="385">1</div>
                            <p class="counter-info">Issues Solved</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="159">1</div>
                            <p class="counter-info">Good Reviews</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="127">1</div>
                            <p class="counter-info">Case Studies</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="211">1</div>
                            <p class="counter-info">Orders Received</p>
                        </div>
                    </div>
                    <!-- end of counter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of counter -->
    <!-- end of statistics -->


    <!-- Invitation -->
    <div class="basic-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container bg-gray">
                        <h4>Gemdev is a well established web development framework dedicated to creatives and makers</h4>
                        <a class="btn-solid-lg" href="#your-link">Details</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-6 -->
    <!-- end of invitation -->


    <!-- Contact -->
    <div id="contact" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Login</h2>
                    <p class="p-heading">Login here <a class="blue no-line" href="mailto:contact@gemdev.com">contact@gemdev.com</a></p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Contact Form -->
                    <div class="form-container">
                        <img class="decoration" src="{{ url_for('static', filename='images/contact-envelope.svg') }}" alt="alternative"> 
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control-input" id="cname" required>
                                <label class="label-control" for="cname">Name</label>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="cemail" required>
                                <label class="label-control" for="cemail">Email</label>
                            </div>
                           
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">Submit Message</button>
                            </div>
                        </form>
                    </div> <!-- end of form-container -->
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of contact -->


    <!-- Footer -->
    <div class="footer bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="social-container">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of social-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->


   
    
    
    	
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script> <!-- Bootstrap framework -->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js')}}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{{ url_for('static', filename='js/swiper.min.js')}}"></script> <!-- Swiper for image and text sliders -->
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.js')}}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script> <!-- Custom scripts -->
</body>
</html>